# ---------- DATABASE ----------
POSTGRES_URL=postgres://postgres:admin@localhost:5432/newsletter-db
POSTGRES_DOCKER_URL=postgres://postgres:admin@host.docker.internal:5432/newsletter-db
POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=admin
POSTGRES_DB=newsletter-db

# ---------- NEWSLETTER SERVICE ----------
NEWSLETTER_SERVICE_URL=http://newsletter-service
NEWSLETTER_SERVICE_PORT=8081

# ---------- SUBSCRIPTION SERVICE ----------
SUBSCRIPTION_SERVICE_URL=http://subscription-service
SUBSCRIPTION_SERVICE_PORT=8082

# ---------- USER SERVICE ----------
USER_SERVICE_URL=http://user-service
USER_SERVICE_PORT=8083

# ---------- FIREBASE --------------
FIREBASE_AUTH_API_KEY=%firebase-api-key%
FIREBASE_CREDENTIALS=%/app/secrets/firebase-adminsdk.json%

# ---------- FIRESTORE --------------
GOOGLE_APPLICATION_CREDENTIALS=%/app/secrets/firebase-adminsdk.json%
GOOGLE_PROJECT_ID=%google-project-id%